@import './../../../scss/variables';
@import './../../../scss/mixins';

.info-page {

  .selected-wrapper {
    width: 100%;
    padding: 10%;

    @media screen {
      @media (min-width: $media-br-3) {
        padding: 2em 5em 4em;
      }
    }
  }

  .content {
    width: 100%;
    margin: 0 auto;
  }

  .sub-title {
    @include font-peace-sans;
    color: $text-color;
    font-size: 1em;
    margin: 1em 0;

    @media screen {
      @media (min-width: $media-br-2) {
        font-size: 2em;
      }
    }
  }

  .item-list {
    @include set-to-zero;
    @include block-border-box;
    list-style-type: square;
    margin-left: 2em;

    li {
      margin: 30px 0;
      color: $text-color;
    }

    a {
      color: $text-color;
    }
  }

  .section-title {
    text-align: center;
    font-size: 1em;

    @media screen {
      @media (min-width: $media-br-2) {
        font-size: 2em;
      }
    }
  }
}
