@import './../../../scss/variables';
@import './../../../scss/mixins';

.info-page {

  .selected-wrapper {
    padding: 2em 5em 4em;
  }

  .content {
    width: 1200px;
    margin: 0 auto;
  }

  .sub-title {
    @include font-peace-sans;
    color: $text-color;
    font-size: 2em;
    margin: 1em 0;
  }

  .item-list {
    @include set-to-zero;
    @include block-border-box;
    list-style-type: square;
    margin-left: 2em;

    li {
      margin: 30px 0;
      color: $text-color;
    }

    a {
      color: $text-color;
    }

  }

  .section-title {
    text-align: center;
  }
}
