@import './../../../scss/variables';
@import './../../../scss/mixins';

.selected-charts {
  background-color: $background-whitesmoke;
  position: relative;
  z-index: 1;
  padding: 10%;

  @media screen {
    @media (min-width: $media-br-3) {
      padding: 5em 12em;
    }
  }

  .section-title {
    text-align: center;
  }
}
