@import './../../../scss/variables';
@import './../../../scss/mixins';

.selected-charts {
  background-color: $background-whitesmoke;
  position: relative;
  z-index: 1;
  height: 700px;
  padding: 5em 12em;

  .section-title {
    text-align: center;
  }
}
