@import './../../../scss/variables';
@import './../../../scss/mixins';

.details-page {
  .selected-wrapper {
    padding: 2em 5em 4em;
  }

  .section-title {
    text-align: center;
  }

  .small-title {
    @include block-border-box;
    width: 1000px;
    margin: 2em auto;
    height: 75px;
    overflow: hidden;

    h3 {
      @include font-peace-sans;
      color: $text-color;
      font-size: 2em;
      display: inline-block;
      vertical-align: top;
      margin-left: 15px;
      line-height: 75px;
    }

    img {
      display: inline-block;
    }

  }

  .chart-details-info {
    @include font-open-sans;
    @include block-border-box;
    font-size: 16px;
    width: 1000px;
    margin: 0 auto;
    padding: 4em 0 100px;
    font-style: italic;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      background-image: url('../../../images/small-square.svg');
      height: 50px;
      width: 150px;
    }

  }

}
