@import './../../../scss/variables';
@import './../../../scss/mixins';

.error-page {
  .selected-wrapper {
    width: 100%;
    padding: 10%;

    @media screen {
      @media (min-width: $media-br-3) {
        padding: 2em 5em 4em;
      }
    }
  }

  .section-title {
    text-align: center;
  }

  .message {
    text-align: center;

    a {
      color: $text-color;
    }
  }
}
