@import './../../../scss/variables';
@import './../../../scss/mixins';

.search-results {

  .selected-wrapper {
    padding: 2em 5em 4em;
  }

  .section-title {
    text-align: center;
  }
}

.search-results-component {
  width: 50%;
  margin: 0 auto;

  hr {
    width: 100%;
    height: 2px;
    background-color: $text-color-lighter;
    margin: 3px 0;
  }

  .search-results {
    padding: 2em 0 4em;
  }

}


.search-text {
  width: 70%;
  height: 3em;
  padding: 0 10px;
  border: 1px solid $text-color-lighter;
  background-color: white;

  &:focus {
    background-color: $background-whitesmoke;
  }
}

.search-btn {
  @include box-shadow-helper(5);
  width: 28%;
  margin-left: 5px;
  height: 3em;
  background-color: $background-red;
  color: white;
  font-weight: bold;
  border-radius: .55em;
  text-transform: uppercase;

  & > span {

    &::before {
      @include font-awesome;
      content: $fa-var-search;
      margin-right: 5px;
    }
  }
}

.found-count-label {
  font-style: italic;
  font-weight: lighter;
  font-size: 1em;
}

.found-count-number {
  font-weight: bold;
  font-style: italic;
  color: $background-red;
}

.found-element {
  margin: 20px 0;
  border: 1px solid $background-whitesmoke;
}

.found-text {
  padding: 20px;
  text-align: justify;
  box-sizing: border-box;

  & > span {
    color: $background-red;
    font-weight: bold;
  }
}

.found-link {
  display: inline-block;
  width: 100%;
  text-align: right;
  border: 2px solid white;
  color: $text-color;
  font-weight: bold;
  font-style: italic;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &::after {
    @include font-awesome;
    margin-left: 3px;
    content: $fa-var-angle-double-right;
  }

}
