@import './../../../scss/variables';
@import './../../../scss/mixins';

.search-results {

  .selected-wrapper {
    width: 100%;
    padding: 10%;

    @media screen {
      @media (min-width: $media-br-3) {
        padding: 2em 5em 4em;
      }
    }
  }

  .section-title {
    text-align: center;
  }
}

.search-results-component {
  width: 100%;
  margin: 0 auto;

  @media screen {
    @media (min-width: $media-br-3) {
      width: 50%;
    }
  }

  hr {
    width: 100%;
    height: 2px;
    background-color: $text-color-lighter;
    margin: 3px 0;
  }

  .search-results {
    padding: 2em 0 4em;
  }

}


.search-text {
  width: 70%;
  height: 3em;
  padding: 0 10px;
  border: 1px solid $text-color-lighter;
  background-color: white;

  &:focus {
    background-color: $background-whitesmoke;
  }
}

.search-btn {
  @include box-shadow-helper(5);
  width: 28%;
  margin-left: 5px;
  height: 3em;
  background-color: $background-red;
  color: white;
  font-weight: bold;
  border-radius: .55em;
  text-transform: uppercase;

  & > span {

    &::before {
      @include font-awesome;
      content: $fa-var-search;
      margin-right: 5px;
    }
  }
}

.found-count-label {
  font-style: italic;
  font-weight: lighter;
  font-size: 1em;
}

.found-count-number {
  font-weight: bold;
  font-style: italic;
  color: $background-red;
}

.found-element {
  margin: 20px 0;
  border: 1px solid $background-whitesmoke;
}

.found-text {
  padding: 20px;
  text-align: justify;
  box-sizing: border-box;

  & > span {
    color: $background-red;
    font-weight: bold;
  }
}

.found-link {
  display: inline-block;
  width: 100%;
  text-align: right;
  border: 2px solid white;
  color: $text-color;

  a {
    cursor: pointer;
    font-weight: lighter;
    margin-right: 30px;
    font-size: .85em;
    display: inline-block;
    width: 100%;
    color: $text-color;
    text-decoration: none;
    font-style: italic;

    @media screen {
      @media (min-width: $media-br-2) {
        width: auto;
        display: inline;
      }
    }


    &:nth-last-of-type(1) {
      margin-right: 5px;
    }

    &::after {
      @include font-awesome;
      margin-left: 3px;
      content: $fa-var-angle-double-right;
    }

    &:hover {
      text-decoration: underline;
    }
  }

}
