@import './../../scss/variables';
@import './../../scss/mixins';

.swiper-panel {

  width: 100%;
  position: absolute;
  transition-duration: .5s;
  top: 0;

  @media screen {
    @media (min-width: $media-br-3) {
      width: 454px;
    }
  }


  .text-wrapper {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);

    .header-text {
      @include font-open-sans;
      display: block;
      text-align: center;
      color: $white;
      font-weight: bolder;
      background-color: $background-black;
      position: relative;
      padding: 6px 15px 0;
      height: 40px;
      font-size: 12px;

      @media screen {
        @media (min-width: $media-br-3) {
          font-size: 15px;
        }
      }

      &::before {
        content: '';
        display: block;
        top: 0;
        left: -40px;
        position: absolute;
        border-top: 40px solid $background-black;
        border-right: 5px solid $background-black;
        border-left: 40px solid transparent;
      }

      &::after {
        content: '';
        display: block;
        right: 0;
        top: 0;
        position: absolute;
        transform: translateX(40px);
        border-bottom: 40px solid $background-black;
        border-left: 5px solid $background-black;
        border-right: 40px solid transparent;
      }

    }

    .additional-text {
      cursor: pointer;
      display: block;
      position: absolute;
      top: 82%;
      height: 25px;
      font-style: italic;
      font-weight: lighter;
      font-size: 10px;
      width: 110px;
      padding: 5px;
      text-decoration: none;
      color: white;
      background-color: $background-red;
      left: 0;
      z-index: 110;

      @media screen {
        @media (min-width: $media-br-3) {
          font-size: 13px;
          height: 30px;
        }
      }

      &::before {
        content: '';
        display: block;
        top: 0;
        left: -30px;
        position: absolute;
        border-top: 25px solid $background-red;
        border-right: 5px solid $background-red;
        border-left: 25px solid transparent;

        @media screen {
          @media (min-width: $media-br-3) {
            border-top: 30px solid $background-red;
            border-left: 30px solid transparent;
          }
        }
      }

      &::after {
        content: '';
        display: block;
        right: 0;
        top: 0;
        position: absolute;
        padding: 0 3px;
        transform: translateX(30px);
        border-bottom: 25px solid $background-red;
        border-left: 5px solid $background-red;
        border-right: 25px solid transparent;

        @media screen {
          @media (min-width: $media-br-3) {
            border-bottom: 30px solid $background-red;
            border-right: 30px solid transparent;
          }
        }
      }

    }

  }

  &.center {
    z-index: 100;
    top: 255px;
    left: 50%;
    transform: translateX(-50%);

    @media screen {
      @media (min-width: $media-br-3) {
        top: 0;
      }
    }

  }

  &.left {
    z-index: 50;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: .6;

    @media screen {
      @media (min-width: $media-br-3) {
        left: 15%;
        transform: scale(.6) translateX(-50%);
      }

      @media (min-width: $media-br-4) {
        left: 18%;
      }

    }

    .additional-text {
      display: none;
    }
  }

  &.right {

    z-index: 50;
    top: 510px;
    left: 50%;
    transform: translateX(-50%);
    opacity: .3;

    @media screen {
      @media (min-width: $media-br-3) {
        top: 0;
        left: 65%;
        transform: scale(.6) translateX(-50%);
      }

      @media (min-width: $media-br-4) {
        left: 68%;
      }
    }

    .additional-text {
      display: none;
    }
  }

  .framed-image {
    width: 100%;
    height: 250px;

    @media screen {
      @media (min-width: $media-br-3) {
        height: 454px;
        width: 454px;
      }
    }
  }

  .swiper-panel-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
  }
}
