@import './../../scss/variables';
@import './../../scss/mixins';

.swiper-panel {

  width: 445px;
  height: 445px;
  position: absolute;
  transition-duration: .5s;

  .text-wrapper {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);

    .header-text {
      @include font-open-sans;
      display: block;
      text-align: center;
      color: $white;
      font-weight: bolder;
      background-color: $background-black;
      position: relative;
      transform: translateX(-20%);
      padding: 6px 15px 0;
      height: 40px;
      margin-left: 40px;


      &::before {
        content: '';
        display: block;
        top: 0;
        left: -40px;
        position: absolute;
        border-top: 40px solid $background-black;
        border-right: 5px solid $background-black;
        border-left: 40px solid transparent;
      }

      &::after {
        content: '';
        display: block;
        right: 0;
        top: 0;
        position: absolute;
        transform: translateX(40px);
        border-bottom: 40px solid $background-black;
        border-left: 5px solid $background-black;
        border-right: 40px solid transparent;
      }

    }

    .additional-text {
      cursor: pointer;
      display: block;
      position: absolute;
      top: 82%;
      height: 30px;
      font-style: italic;
      font-weight: lighter;
      font-size: 16px;
      width: 110px;
      padding: 5px;
      text-decoration: none;
      color: white;
      background-color: $background-red;
      left: 30px;
      z-index: 110;

      &::before {
        content: '';
        display: block;
        top: 0;
        left: -30px;
        position: absolute;
        border-top: 30px solid $background-red;
        border-right: 5px solid $background-red;
        border-left: 30px solid transparent;
      }

      &::after {
        content: '';
        display: block;
        right: 0;
        top: 0;
        position: absolute;
        padding: 0 3px;
        transform: translateX(30px);
        border-bottom: 30px solid $background-red;
        border-left: 5px solid $background-red;
        border-right: 30px solid transparent;
      }

    }

  }

  &.center {
    z-index: 100;
    top: 0;
    left: 50%;
    transform: translateX(-222.5px);
  }

  &.left {
    z-index: 50;
    top: 0;
    left: 15%;
    transform: scale(.6);
    opacity: .7;

    .additional-text {
      display: none;
    }
  }

  &.right {
    z-index: 50;
    top: 0;
    left: 50%;
    transform: scale(.6);
    opacity: .4;

    .additional-text {
      display: none;
    }
  }

  svg {
    width: 100%;
    height: auto;
  }

  .swiper-panel-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
  }
}
