@import './../../scss/variables';
@import './../../scss/mixins';

.swiper {
  @include block-border-box;
  width: 100%;
  height: 790px;

  @media screen {
    @media (min-width: $media-br-3) {
      height: 470px;
    }
  }
}

.swiper-content {
  position: relative;
  width: 85%;
  height: 100%;
  margin: 0 auto;
}

.swiper-button {
  width: 50px;
  height: 100px;
  background-color: transparent;
  background-repeat: no-repeat;
  position: absolute;
  top: 45%;
  cursor: pointer;

  &.left {
    background-image: url('../../images/small-triangle-left.svg');
    left: 15%;
    transform: scale(.5) translateX(-100px);

    @media screen {
      @media (min-width: $media-br-3) {
        transform: scale(1) translateX(-50px);
      }
    }
  }

  &.right {
    background-image: url('../../images/small-triangle-right.svg');
    left: 85%;
    transform: scale(.5);

    @media screen {
      @media (min-width: $media-br-3) {
        transform: scale(1);
      }
    }
  }

}
