@import './../../../scss/variables';
@import './../../../scss/mixins';

.chart-component {
  width: 100%;
  padding: .5em;
  background-color: $background-whitesmoke;
  float: right;
  text-align: center;

  @media screen {
    @media (min-width: $media-br-2) {
      width: 60%;
      //height: 550px;
    }
  }


  .chart-title {
    width: 100%;
    display: block;
    font-size: .75em;
    font-weight: 700;
    margin-bottom: .25em;
  }

  .chart-svg {
    background-color: whitesmoke;
    border: 1px solid black;
    width: 100%;
    height: auto;

    .svg-text-warning {
      @include font-open-sans;
      fill: red;
      font-size: 14px;
    }

    .svg-text-warning-msg {
      @include font-open-sans;
      font-size: 14px;
    }


  }

  .grid {
    .domain {
      stroke: transparent;
    }

    line {
      stroke: lightgray;
      stroke-dasharray: 2;
    }

    text {
      fill: transparent;
    }
  }


}
