@import './../../../scss/variables';
@import './../../../scss/mixins';


.footer {
  position: relative;
  z-index: 0;
  color: white;
  width: 100%;
  height: 500px;

  .section-title {
    text-align: center;
    color: rgba(255, 255, 255, .8);
  }

  .content-wrapper {
    color: white;
    top: 10%;
    left: 25%;
    width: 50%;
    position: absolute;
  }


  &::before {
    z-index: 0;
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: brightness(.25);
    background-image: url('../../../images/bck-ground-bottom.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  &::after {
    width: 300px;
    height: 300px;
    position: absolute;
    display: block;
    background-color: $background-black;
    content: '';
    z-index: 1;
    right: 50px;
    bottom: -150px;
    transform: rotateZ(45deg);
  }
}

.contact-container {
  overflow: hidden;
  display: block;
  box-sizing: border-box;
  height: 200px;
  width: 100%;
  padding: 40px 0;

  &::after {
    clear: both;
  }

}

.contact {
  width: 33%;
  display: block;
  padding-left: 65px;
  padding-top: 15px;
  height: 120px;
  float: left;
  font-size: .95em;
  position: relative;

  p {
    padding: 10px 0;
    width: 70%;
  }

  &::before {
    @include font-awesome;
    font-size: 40px;
    position: absolute;
    width: 50px;
    text-align: center;
    left: 0;
    top: 20px;
  }

  &.email {

    &::before {
      content: $fa-var-envelope-o;
    }
  }

  &.phone {

    &::before {
      content: $fa-var-mobile;
    }
  }

  &.address {

    &::before {
      content: $fa-var-map-marker;
    }
  }
}

.social-links {
  width: 60%;
  text-align: center;
  border-bottom: 1px solid $white;
  padding: .5em .35em 20px;
  margin: 0 auto;
}


.link-social {
  text-decoration: none;
  margin: 0 1em;
  font-size: 1.5em;
  color: $white;
  display: inline-block;

  &::before {
    @include font-awesome;
  }

  &.vk {

    &::before {
      content: $fa-var-vk;
    }
  }

  &.google-plus {

    &::before {
      content: $fa-var-google-plus;
    }
  }

  &.youtube {

    &::before {
      content: $fa-var-youtube;
    }
  }

  &.digg {

    &::before {
      content: $fa-var-digg;
    }
  }

  &.facebook {

    &::before {
      content: $fa-var-facebook;
    }
  }

  &.linkedin {

    &::before {
      content: $fa-var-linkedin;
    }
  }

}

.copyright-info {
  text-align: center;
  padding: 1.2em;
  font-size: .85em;
}
