@import './../../../scss/variables';
@import './../../../scss/mixins';

.types-of-charts-list {
  position: relative;
  z-index: 1;
  padding: 5em 12em;
  background-color: $background-whitesmoke;
  width: 100%;
  min-height: 700px;

  &::before {
    display: block;
    position: absolute;
    z-index: 2;
    content: '';
    width: 200px;
    height: 200px;
    background-color: $background-red;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%) rotateZ(45deg);
  }

  .charts-title {
    text-align: center;
    width: 100%;
  }

  .charts-display {
    @include block-border-box;
    @include set-to-zero;
    overflow: hidden;
    width: 100%;

    &::after {
      clear: both;
    }
  }

  .chart-description {
    width: 33%;
    padding: 3em 0;
    float: left;
  }

  .chart-img {
    display: inline-block;
    height: 75px;
    width: 75px;
    margin-right: 22px;
    vertical-align: middle;
  }

  .chart-title {
    @include font-peace-sans;
    display: inline-block;
    color: $text-color-lighter;
    font-size: 1.5em;
    letter-spacing: 2px;
    font-weight: normal;
    height: 75px;
    margin-bottom: .2em;
  }

  .chart-text {
    @include font-open-sans;
    color: $text-color;
    width: 80%;
    margin: 1em auto;

    & > a {
      color: $text-color;
      text-decoration: none;
      cursor: pointer;
      margin-top: .5em;
      display: inline-block;
      width: 100%;
      font-size: .85em;
      font-weight: bolder;
      text-align: right;

      &::after {
        @include font-awesome;
        margin-left: 5px;
        content: '\f101';
      }
    }

  }
}
