@import './../../../scss/variables';
@import './../../../scss/mixins';

.how-does-it-work-section {
  background-color: $white;
  position: relative;
  z-index: 2;
  width: 100%;
  padding: 5em 0 5em 12em;
  height: 700px;

  .selected-wrapper {
    @include block-border-box;
    @include set-to-zero;
    height: 100%;
    width: 100%;
    z-index: 4;
    position: relative;
    overflow: hidden;

    &::after {
      clear: both;
    }

    .selected-description {
      float: left;
      width: 25%;
    }

  }

  .selected-text {
    color: $text-color;
    text-align: justify;
    margin-bottom: 2.5em;
    width: 90%;
  }

  .selected-slider {
    float: right;
    height: 300px;
    width: 75%;
    margin-top: 150px;
    position: relative;
    overflow: hidden;
  }

  .container-wrapper {
    position: absolute;

    &.first {
      z-index: 10;
      left: 0;
      top: 0;
    }

    &.second {
      z-index: 20;
      left: 340px;
      top: 0;
    }

    &.third {
      z-index: 30;
      left: 680px;
      top: 0;
    }
  }

  .container-box {
    height: 300px;
    width: 700px;
    clip-path: polygon(0% 100%, 20% 0%, 60% 0%, 40% 100%);
    transition-duration: .5s;
    transition-property: clip-path;
    position: relative;
    overflow: hidden;
    background-position: center center;

    &::after {
      position: absolute;
      content: '';
      background-color: rgba(147, 147, 147, .5);
      transition-property: background-color;
      transition-duration: .5s;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }

    &.first {
      background-image: url('./../../../images/bckgrnd1.jpg');
    }

    &.second {
      background-image: url('./../../../images/bckgrnd2.jpg');
    }

    &.third {
      background-image: url('./../../../images/bckgrnd4.jpg');
    }


    &:hover {
      clip-path: polygon(0% 100%, 20% 0%, 100% 0%, 80% 100%);

      &::after {
        background-color: transparent;
      }
    }
  }


  &::before {
    width: 1000px;
    height: 1000px;
    position: absolute;
    display: block;
    background-color: $background-red;
    content: '';
    z-index: 3;
    right: 0;
    transform: rotateZ(45deg) translateX(25%) translateY(-50%);
  }

  &::after {
    width: 300px;
    height: 300px;
    position: absolute;
    display: block;
    background-color: $background-black;
    content: '';
    z-index: 3;
    left: 0;
    bottom: 0;
    transform: translate(-50%, 50%) rotateZ(45deg); // translateY(-50%);
  }
}
