@import './../../scss/variables';
@import './../../scss/mixins';

.search-title {
  &::before {
    @include font-awesome;
    display: inline-block;
    font-size: 1em;
    font-weight: 700;
    margin-right: 3px;
    content: $fa-var-search;
  }
}
