@import './../../../scss/variables';
@import './../../../scss/mixins';

.short-description {
  position: relative;
  height: 550px;
  padding: 5em;
  background-color: $white;
  //background-color: transparent;
  width: 100%;

  &::before {
    content: '';
    position: absolute;
    transform: rotateZ(45deg);
    top: -900px;
    left: -200px;
    z-index: 1;
    display: block;
    width: 2000px;
    height: 1000px;
    background-color: $background-black;
  }

  .content-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: hidden;

    .text-wrapper {
      float: left;
      width: 50%;
      z-index: 1;
    }

    .section-img {
      float: left;
      z-index: 1;
    }

    &::after {
      clear: both;
    }
  }
}
