@import './../../../scss/variables';
@import './../../../scss/mixins';

.page-title {
  width: 100%;
  height: 100vh;
  background-color: $background-red;
  position: relative;
  z-index: 2;

  .header-component {
    @include set-to-zero;
    @include block-border-box;
    height: 100vh;
    width: 100%;
    position: relative;
    z-index: 1;
    background-color: $white;
  }

  .svg-text {
    @include font-lemmon-milk;
    font-weight: bold;
    text-transform: uppercase;

    &.first {
      font-size: 120px;
      letter-spacing: 33px;
      transform: translateY(300px) translateX(715px);
    }

    &.second {
      font-size: 140px;
      letter-spacing: 17px;
      transform: translateY(420px) translateX(600px);

      @media screen {
        @media (min-width: $media-br-1) {
          font-size: 140px;
          letter-spacing: 17px;
          transform: translateY(420px) translateX(600px);
        }
      }

    }

    &.third {
      font-size: 80px;
      letter-spacing: 13px;
      transform: translateY(500px) translateX(660px);
    }

    &.txt-shadow {
      filter: url('#txt-shadow');
    }

  }

  .svg-utils {
    display: none;
  }


  .img-background {
    @include set-to-zero;
    @include block-border-box;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }


  .header-content {
    @include set-to-zero;
    @include block-border-box;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    top: 0;
    left: 0;

    .title-image {
      position: absolute;
      display: none;
      width: auto;
      top: 10%;
      left: 44%;
      height: 90%;
    }

    .app-navbar {
      @include block-border-box;
      padding: 1em;
      width: 100%;
      overflow: hidden;

      &::after {
        clear: both;
      }
    }

    .app-menu {
      box-sizing: border-box;
      display: block;
      width: 100%;
      list-style-type: none;
      float: right;
      transition-duration: 300ms;
      transition-property: height;
      transition-timing-function: ease-in;
      overflow: hidden;
      position: relative;
      height: 0;

      &.visible {
        height: 280px;
        @media screen {
          @media (min-width: $media-br-1) {
            height: inherit;
          }
        }
      }

      @media screen {
        @media (min-width: $media-br-1) {
          width: auto;
          height: inherit;
        }
      }

    }

    .menu-item {
      @include block-border-box;
      @include font-lato;
      display: list-item;
      width: 100%;
      font-weight: 700;
      text-transform: uppercase;
      color: $white;
      font-size: .85em;
      padding: 1em;
      cursor: pointer;
      text-shadow: rgba(7, 3, 3, .6) 2px 2px;

      & > a {
        text-decoration: none;
        color: $white;
      }

      &.search {

        &::before {
          @include font-awesome;
          display: inline-block;
          font-size: 1em;
          font-weight: 700;
          margin-right: 3px;
          content: $fa-var-search;
        }
      }

      @media screen {
        @media (min-width: $media-br-1) {
          display: inline-block;
          width: auto;
          text-shadow: none;
        }
      }

    }

    .menu-button {
      display: block;
      cursor: pointer;
      font-size: .85em;
      background-color: transparent;
      margin: 1em;
      float: right;
      width: 2em;
      color: white;
      outline: 0;

      @media screen {
        @media (min-width: $media-br-1) {
          display: none;
        }
      }


      &::before {
        @include font-awesome;
        display: inline-block;
        content: $fa-var-navicon;
      }
    }

    .app-title {
      @include font-peace-sans;
      letter-spacing: 1px;
      font-size: .85em;
      margin: 1em;
      font-weight: normal;
      color: $white;
      float: left;
      height: 100%;
      width: 70%;

      @media screen {
        @media (min-width: $media-br-1) {
          font-size: 2em;
          margin: 0;
          width: auto;
        }
      }

    }
  }
}
