@import './../../../scss/variables';
@import './../../../scss/mixins';

.page-title {
  width: 100%;
  height: 85px;
  background-color: $background-red;
  position: relative;
  z-index: 2;
  transition-duration: .5s;
  transition-property: height;

  &.full-size {
    height: 100vh;
  }

  .header-component {
    @include set-to-zero;
    @include block-border-box;
    height: 100vh;
    width: 100%;
    position: relative;
    z-index: 1;
    background-color: $white;
  }

  .svg-text {
    @include font-lemmon-milk;
    font-weight: bold;
    text-transform: uppercase;

    &.first {
      font-size: 84px;
      letter-spacing: .2em;
      transform: translateY(25%) translateX(43.15%);

      @media screen {
        @media (min-width: $media-br-2) {
          font-size: 117px;
          letter-spacing: .2em;
          transform: translateY(30%) translateX(33.7%);
        }
      }

    }

    &.second {
      font-size: 70px;
      letter-spacing: 10px;
      transform: translateY(32%) translateX(42.5%);

      @media screen {
        @media (min-width: $media-br-2) {
          font-size: 106px;
          letter-spacing: 27px;
          transform: translateY(41%) translateX(30.15%);
        }
      }

    }

    &.third {
      font-size: 50px;
      letter-spacing: 3px;
      transform: translateY(37.5%) translateX(43.5%);

      @media screen {
        @media (min-width: $media-br-2) {
          font-size: 85px;
          letter-spacing: 5px;
          transform: translateY(51%) translateX(31.15%);
        }
      }

    }

    &.txt-shadow {
      filter: url('#txt-shadow');
    }

  }

  .svg-utils {
    display: none;
  }


  .img-background {
    @include set-to-zero;
    @include block-border-box;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    visibility: hidden;
    transition-property: visibility;
    transition-duration: .5s;

    &.visible {
      display: block;
      visibility: visible;
    }
  }

  .image-overlay {
    position: absolute;
    display: none;
    bottom: 0;
    right: 10%;
    z-index: 50;
    height: 60%;
    width: auto;
    transition-duration: .5s;

    @media screen {
      @media (min-width: $media-br-2) {
        height: 70%;
        right: 20%;
      }
    }



    &.visible {
      display: block;
    }
  }


  .header-content {
    @include set-to-zero;
    @include block-border-box;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 500;
    top: 0;
    left: 0;

    .app-navbar {
      @include block-border-box;
      padding: 1em;
      width: 100%;
      overflow: hidden;

      &::after {
        clear: both;
      }
    }

    .app-menu {
      box-sizing: border-box;
      display: block;
      width: 100%;
      list-style-type: none;
      float: right;
      transition-duration: 300ms;
      transition-property: height;
      transition-timing-function: ease-in;
      overflow: hidden;
      position: relative;
      height: 0;

      &.visible {
        height: 280px;
        @media screen {
          @media (min-width: $media-br-menu) {
            height: inherit;
          }
        }
      }

      @media screen {
        @media (min-width: $media-br-menu) {
          width: auto;
          height: inherit;
        }
      }

    }

    .menu-item {
      @include block-border-box;
      @include font-lato;
      display: list-item;
      width: 100%;
      font-weight: 700;
      text-transform: uppercase;
      border-bottom: 1px solid $text-color;
      background-color: $background-red;
      color: $white;
      font-size: .85em;
      padding: 1em;
      cursor: pointer;
      position: relative;
      text-shadow: rgba(7, 3, 3, .6) 2px 2px;

      & > a,
      & > span {
        text-decoration: none;
        color: $white;
        height: 23px;
        display: inline-block;
      }

      @media screen {
        @media (min-width: $media-br-menu) {
          display: inline-block;
          width: auto;
          text-shadow: none;
          border-bottom: 1px solid transparent;
          background-color: transparent;
        }
      }

    }

    .menu-button {
      display: block;
      cursor: pointer;
      font-size: .85em;
      background-color: transparent;
      margin: 1em;
      float: right;
      width: 2em;
      color: white;
      outline: 0;

      @media screen {
        @media (min-width: $media-br-menu) {
          display: none;
        }
      }


      &::before {
        @include font-awesome;
        display: inline-block;
        content: $fa-var-navicon;
      }
    }

    .app-title {
      @include font-peace-sans;
      letter-spacing: 1px;
      font-size: .85em;
      margin: 1em;
      font-weight: normal;
      color: $white;
      float: left;
      height: 100%;
      width: 70%;

      @media screen {
        @media (min-width: $media-br-menu) {
          font-size: 2em;
          margin: 0;
          width: auto;
        }
      }

    }
  }
}
