@import './../../../scss/variables';
@import './../../../scss/mixins';


.header-component {
  @include set-to-zero;
  @include block-border-box;
  height: 100vh;
  width: 100%;
  position: relative;
  z-index: 1;
  background-color: $white;
}

.svg-text {
  @include font-lemmon-milk;
  font-weight: bold;
  text-transform: uppercase;
}

.svg-utils {
  display: none;
}


.img-background {
  @include set-to-zero;
  @include block-border-box;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.header-content {
  @include set-to-zero;
  @include block-border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  top: 0;
  left: 0;

  .title-image {
    position: absolute;
    width: auto;
    top: 10%;
    left: 44%;
    height: 90%;
  }

  .app-title {
    @include font-peace-sans;
    letter-spacing: 1px;
    font-size: 2em;
    font-weight: normal;
    color: $white;
    float: left;
    padding-top: .5em;
    height: 100%;
  }

  .menu-item {
    @include font-lato;
    //display: list-item;
    display: inline-block;
    font-weight: 700;
    text-transform: uppercase;
    color: $white;
    font-size: .85em;
    margin: 1em;

    &.search {

      &::before {
        display: inline-block;
        font-size: 1.5em;
        font-weight: 700;
        margin-right: 3px;
        content: '\002315';
      }
    }

  }

  .app-navbar {
    @include block-border-box;
    padding: 1em;
    width: 100%;
    overflow: hidden;

    &::after {
      clear: both;
    }
  }

  .app-menu {
    width: 70%;
    display: block;
    list-style-type: none;
    height: 100%;
    float: right;
    text-align: right;
  }

}
