@import './../../scss/variables';
@import './../../scss/mixins';

.data-table-component {
  width: 100%;
  height: 550px;
  padding: .5em;
  background-color: $white;
  float: left;

  @media screen {
    @media (min-width: $media-br-2) {
      width: 40%;
    }
  }



  label {
    font-size: .75em;
    margin-bottom: .25em;
    font-weight: bold;
  }

  .data-table-wrapper {
    width: 100%;
    height: 350px;
    overflow-x: scroll;
    overflow-y: scroll;
    border: 1px $background-black solid;
    margin-bottom: .5em;
    padding: .25em;

    @media screen {
      @media (min-width: $media-br-2) {
        overflow-y: auto;
        overflow-x: auto;
      }
    }

  }

  .data-table {
    border-collapse: collapse;
  }

  .table-title {
    font-size: 1.2em;
    width: 100%;
    outline: none;
    margin-bottom: .5em;
    padding: .25em;
    border: 1px $background-black solid;

    &:focus {
      background-color: $background-whitesmoke;
    }
  }

  button {
    margin-top: 1em;
    border-radius: 3px;
    padding: .5em 1em;
    margin-right: .25em;
    font-weight: bold;
    background-color: $background-red;
    color: $white;

    @media screen {
      @media (min-width: $media-br-3) {
        padding: .5em 3em;
      }
    }


  }

}
