@import './scss/variables';
@import './scss/utils/fonts';
@import './scss/utils/material-shadows';
@import './scss/mixins';

@include custom-font-mixin-simplified('Lemmon Milk', 'lemonmilkbold', $path-lemmon-milk);
@include custom-font-mixin-simplified('Peace Sans', 'peace_sans_webfont', $path-peace-sans);
@include custom-font-mixin-simplified('Pump Demi Bold', 'pumpdemiboldletplain', $path-pump-demi-bold);


*,
html,
body {
  @include set-to-zero;
  @include font-open-sans;
  box-sizing: border-box;
}

.app {
  max-width: 2500px;
  margin: 0 auto;
  overflow: hidden;
}

.section-title {
  @include font-peace-sans;
  color: $text-color;
  font-size: 3em;
  margin-bottom: .5em;
}

.section-text {
  color: $text-color;
  text-align: justify;
  margin-bottom: 1.2em;
  width: 50%;
}

.app-button {
  @include box-shadow-helper(3);
  background-color: $background-red;
  color: white;
  font-weight: bold;
  padding: .75em 4em;
  font-size: .75em;
  border-radius: 1.5em;
  text-transform: uppercase;
}
