@import './libs/font-awesome/scss/variables';

$path-fonts: 'fonts/';

$path-peace-sans: '#{$path-fonts}PeaceSans/';
$path-lemmon-milk: '#{$path-fonts}LemmonMilk/';
$path-font-awesome-fonts: '#{$path-fonts}font-awesome/';


$white: #fff;
$background-whitesmoke: #f5f5f5;
$background-black: #171717;
$background-red: #bb2d39;
$text-color: #494949;
$text-color-lighter: #747474;

$media-br-1: 768px;
$media-br-2: 992px;
$media-br-3: 1200px;
$media-br-4: 1400px;
