$path-fonts: 'fonts/';

$white: #fff;
$background-whitesmoke: #f5f5f5;
$background-black: #171717;
$background-red: #bb2d39;
$text-color: #494949;

$media-br-1: 768px;
$media-br-2: 992px;
$media-br-3: 1200px;
