@import './../../../scss/variables';
@import './../../../scss/mixins';

.in-the-spotlight {
  position: relative;
  z-index: 2;
  display: block;
  width: 100%;
  background-color: $background-red;
  height: auto;
  padding: 10%;

  @media screen {
    @media (min-width: $media-br-1) {
      background-color: $white;
    }

    @media (min-width: $media-br-4) {
      padding: 5em 12em;
      height: 720px;
    }
  }


  .section-title {
    width: 100%;
    text-align: center;
    color: white;

    @media screen {

      @media (min-width: $media-br-1) {
        color: $background-black;
      }

      @media (min-width: $media-br-4) {
        padding-left: 20%;
        text-align: left;
      }
    }
  }

  .image-box {

    position: relative;
    width: 80%;
    max-width: 454px;
    height: auto;
    margin: 0 auto;

    @media screen {
      @media (min-width: $media-br-1) {
        position: absolute;
        width: 454px;
        height: 454px;
        overflow: hidden;
        top: 170px;
        left: 24%;
        z-index: 100;
      }

      @media (min-width: $media-br-3) {
        top: 150px;
        left: 30px;
      }

      @media (min-width: $media-br-4) {
        top: 150px;
        left: 250px;
      }
    }
  }

  &::before {
    display: none;

    @media screen {
      @media (min-width: $media-br-1) {
        width: 2400px;
        height: 2400px;
        position: absolute;
        display: block;
        background-color: $background-red;
        content: '';
        z-index: 3;
        left: 0;
        transform: rotateZ(45deg) translateX(-100%) translateY(48%);
      }

      @media (min-width: $media-br-3) {
        width: 2400px;
        height: 2400px;
        position: absolute;
        display: block;
        background-color: $background-red;
        content: '';
        z-index: 3;
        left: 0;
        transform: rotateZ(45deg) translateX(-100%) translateY(44%);
      }
    }
  }

  &::after {
    display: none;

    @media screen {
      @media (min-width: $media-br-1) {
        width: 300px;
        height: 300px;
        position: absolute;
        display: block;
        background-image: url('../../../images/back-triangle.svg');
        background-repeat: no-repeat;
        content: '';
        z-index: -1;
        right: 0;
        top: 0;
      }
    }
  }

  .content-wrapper {
    width: 100%;
    margin: 0;

    @media screen {
      @media (min-width: $media-br-4) {
        width: 65%;
        height: 100%;
        margin-left: 12%;
      }
    }
  }

  .description {
    position: relative;
    margin: 10px auto 0;
    line-height: 180%;
    text-align: justify;
    width: 100%;
    font-style: italic;
    padding-top: 20px;
    color: $white;

    @media screen {
      @media (min-width: $media-br-1) {
        color: $background-black;
        width: 80%;
        margin: 490px auto 0;
      }

      @media (min-width: $media-br-3) {
        margin: 15% 0 0 38%;
        width: 45%;
        padding-left: 45px;
      }

      @media (min-width: $media-br-4) {
        margin: 15% 0 0 420px;
        width: 450px;
        padding-left: 45px;
      }
    }


    &::before {
      @include font-awesome;
      content: $fa-var-quote-left;
      position: absolute;
      top: 0;
      left: 0;
      font-size: 15px;
      font-style: normal;
      color: white;

      @media screen {

        @media (min-width: $media-br-1) {
          color: $text-color-lighter;
          width: 80%;
        }

        @media (min-width: $media-br-3) {
          font-size: 45px;
        }
      }
    }
  }

  .name-link {
    position: relative;
    width: 100%;
    margin: 15px 0;
    padding-bottom: 70px;

    @media screen {
      @media (min-width: $media-br-1) {
        width: 80%;
        margin: 15px auto;
      }

      @media (min-width: $media-br-3) {
        margin: 30px 0 0 38%;
        width: 45%;
      }

      @media (min-width: $media-br-3) {
        margin: 15% 0 0 420px;
        width: 450px;
      }
    }

    &::after {

      content: ' ';
      position: absolute;
      width: 150px;
      height: 50px;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      background-image: url('../../../images/small-square.svg');
    }

  }

  .name {
    display: inline-block;
    width: 50%;
    font-size: 1.05em;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $white;

    @media screen {

      @media (min-width: $media-br-1) {
        color: $text-color;
      }

      @media (min-width: $media-br-4) {
        width: 70%;
      }
    }


  }

  .link {
    text-decoration: none;
    cursor: pointer;
    margin-top: .5em;
    display: inline-block;
    width: 48%;
    font-size: .85em;
    font-weight: bold;
    text-align: right;
    color: white;

    @media screen {
      @media (min-width: $media-br-1) {
        color: $text-color-lighter;
      }

      @media (min-width: $media-br-4) {
        width: 30%;
        color: $text-color-lighter;
      }
    }


    &::after {
      @include font-awesome;
      margin-left: 5px;
      content: $fa-var-angle-double-right;
    }
  }
}
